<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Книги
            </a>
            <a href="/book/new" class="navbar-item">
                Добавить новую книгу
            </a>
        </div>
    </div>
</nav>